/*
Nombre del Archivo: main.css
Descripción: Archivo para manejar los estilos esenciales de la pagina.

Autor: devManu
Versión: 1.0.0
Fecha: 11/12/2023
*/

#home .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

#home h2 {
    font-size: 48px;
    font-weight: 600;
    color: #222;
    text-align: center;
}

#home p {
    font-size: 18px;
    font-weight: 400;
    color: #888;
}

#sobreMi h2 {
    padding-top: 20px;
    font-size: 38px;
    font-weight: 600;
    color: #222;
    text-align: left;
}

#datosBasicos {
    display: flex;
    flex-direction: column;
    
}

#servicios div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section {
    height: 100vh;
}

section#home {
    background: url(../img/layered-waves-haikei.svg);
    background: url(../img/layered-waves-haikei-wide.svg);
    background-size: cover;
}

main {
    background-color: #f9f9f9
}


/* --------------------------- */
/* Clases */
/* --------------------------- */

.t-em {
    color: #2b8feb;
}




/* --------------------------- */
/* Media Querys */
/* --------------------------- */

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) { 
    #navbarPrincipal > ul {
        margin-top: 5px;
    }

    #navbarPrincipal .nav-link {
        padding: 5px;
        margin-bottom: 5px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }

